{% extends 'base.html.twig' %}

{% block title %}Modifier le {{ titre }} {% endblock %}

{% block header_title %}Modifier le {{ titre }}{% endblock %}

{% block body %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Mettre à jour le {{ titre }} </button>
    {{ form_end(form) }}

    <a href="{{ path(retour) }}" class="return-link">Retour</a>
{% endblock %}