{% extends 'base.html.twig' %}

{% block title %}Ajouter un {{ titre }} {% endblock %}

{% block header_title %}Ajouter un {{ titre }} {% endblock %}

{% block body %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Ajouter {{ titre }} </button>
    {{ form_end(form) }}

    <a href="{{ path(retour) }}" class="return-link">Retour</a>
    
{% endblock %}