<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('image/freepik-doodle-compusmart-repair-logo-20250110083909p94f.ico') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/list.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/form.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/general.css') }}"/>
        {% endblock %}

        {% block javascripts %}
             <script src="{{ asset('js/phone-format.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
